{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Faisal Ahmed</title>
    <link rel="icon" type="image/x-icon" href="{% static 'Images/favicon.jpeg' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    
    <!-- Navbar Section -->
    <nav id="navbar" class="flex s-around bg-color">
        <div class="left-nav">
            <h2 class="t-white">Welcome To My Portfolio</h2>
        </div>
        <div class="right-nav">
            <ul class="flex">
                <li><a href="#home" class="t-white roboto">Home <i class="fa-solid fa-house"></i></a></li>
                <li><a href="#about" class="t-white roboto">About Me <i class="fa-solid fa-user"></i></a></li>
                <li><a href="#skills" class="t-white roboto">Skills <i class="fa-solid fa-code"></i></a></li>
                <li><a href="#Projects" class="t-white roboto">Projects <i class="fas fa-project-diagram"></i></a></li>
                <li><a href="#Contact" class="t-white roboto">Contact <i class="fa-solid fa-rocket"></i></a></li>
            </ul>
        </div>
    </nav>

    <!-- Home Section -->
    <section id="home" class="flex s-around sw-80 m-auto">
        <div class="home-left flex items-center">
            <div class="home-content">
                <h6 class="poppinss">Hi, I'm</h6>
                <h1 class="t-white">Faisal Ahmed</h1>
                <h4 class="poppinss">A Computer Science and Engineering student</h4>
                <a href="{% static 'pdf/Faisal Ahmed-CV.pdf' %}" target="_blank">
                    <button class="btn poppins">Resume</button></a>
            </div>
        </div>
        <div class="home-right flex s-center items-center">
            <div class="circle flex s-center items-center" id="mainImage">
                <img src="{% static 'images/mypic_V2.jpg' %}" alt="Profile Image">
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <h1 class="t-center my-2 t-white f-2">About Me</h1>
        <div class="about-container flex s-around">
            <div class="about-left flex s-center items-center">
                <img src="{% static 'images/dog.png' %}" alt="Secondary Image" style="width: 60%;">
            </div>
            <div class="about-right flex">
                <div class="about-content">
                    <h1 class="t-white m-b-1 poppins">Faisal Ahmed</h1>
                    <p class="t-white poppins">
                        My name is Faisal Ahmed. I’m a BSc student at BRAC University in Computer Science & Engineering. 
                        I am a committed student with a strong ambition to contribute to the tech industry. 
                        My interest in finding novel solutions drives me to pursue technical challenges. 
                        I believe technology has the potential to improve lives, and I look forward to using my skills to create impactful applications.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Skills Section -->
    <section id="skills">
        <h1 class="t-center my-2 t-white f-2">Skills</h1>
        <div class="services-container flex s-around h-50">
            <div class="skills-left flex s-center items-center">
                <img src="{% static 'images/pro_V2.jpg' %}" alt="Profile Image" style="width: 50%; height: auto;">
            </div>
            <div class="skills-right flex items-center">
                <div class="skillss-container">
                    <div class="python bar p-relative"><span class="bar-content left t-white">Python</span><span class="bar-content right-skills t-white">90%</span></div>
                    <div class="html bar p-relative"><span class="bar-content left t-white">HTML</span><span class="bar-content right-skills t-white">80%</span></div>
                    <div class="css bar p-relative"><span class="bar-content left t-white">CSS</span><span class="bar-content right-skills t-white">70%</span></div>
                    <div class="js bar p-relative"><span class="bar-content left t-white">JavaScript</span><span class="bar-content right-skills t-white">50%</span></div>
                    <div class="mysql bar p-relative"><span class="bar-content left t-white">MySQL</span><span class="bar-content right-skills t-white">30%</span></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Projects Section -->
    <section id="Projects">
        <h1 class="t-center my-2 t-white f-2">Projects</h1>
        <div class="projects-container flex s-center">
            <!-- Project 1 -->
            <div class="projects-item flex f-col s-center items-center">
                <h1 class="t-white poppins">Dictionary</h1>
                <p class="t-white poppins">
                    A sophisticated Dictionary website built with HTML, CSS, and JavaScript. Users can search for words and access meanings, synonyms, antonyms, example sentences, and pronunciation.
                </p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/FaisalAhmed21/Dictionary" target="_blank" class="btn mx-1 m-top">GitHub</a>
                </div>
            </div>
            <!-- Project 2 -->
            <div class="projects-item flex f-col s-center items-center">
                <h1 class="t-white poppins">My Portfolio</h1>
                <p class="t-white poppins">
                    A portfolio website showcasing my web development abilities in HTML, CSS, and JavaScript. It features clean design, easy navigation, and presents projects in an elegant format.
                </p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/FaisalAhmed21/My-Portfolio" target="_blank" class="btn mx-1 m-top">GitHub</a>
                </div>
            </div>
            <!-- Project 3 -->
            <div class="projects-item flex f-col s-center items-center">
                <h1 class="t-white poppins">Recipe Guide</h1>
                <p class="t-white poppins">
                    A Recipe Guide website built with HTML, CSS, and JavaScript. It helps users discover recipes by fetching data from external APIs, with smooth animation transitions and an intuitive interface.
                </p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/FaisalAhmed21/Recipe-Guide" target="_blank" class="btn mx-1 m-top">GitHub</a>
                </div>
            </div>
            <!-- Project 4 -->
            <div class="projects-item flex f-col s-center items-center">
                <h1 class="t-white poppins">Fitness & Nutrition Platform</h1>
                <p class="t-white poppins">
                    A Django-based platform providing workout plans, nutritional advice, a BMI calculator, workout tutorials and nutritional values. Designed for users looking to adopt a healthy lifestyle.
                </p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/FaisalAhmed21/CSE471-Fitness-and-Nutrition-platform" target="_blank" class="btn mx-1 m-top">GitHub</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Me Section -->
    <section id="Contact" class="m-b-1">
        <h1 class="t-center my-2 t-white f-2">Contact Me</h1>
        <div class="contact-container flex s-around items-center">
            <div class="form" id="contactForm">
                <form method="post">
                    {% csrf_token %}
                    <div class="name form-div">
                        <input type="text" name="name" id="name" class="poppins" placeholder="Enter Your Name">
                    </div>
                    <div class="email form-div">
                        <input type="email" name="email" class="poppins" placeholder="Enter Your Email" required>
                    </div>
                    <div class="phone form-div">
                        <input type="phone" name="number" class="poppins" placeholder="Enter Your Phone" required>
                    </div>
                    <div class="textarea form-div">
                        <textarea name="content" id="textarea" cols="30" rows="10" placeholder="Message" class="poppins"></textarea>
                    </div>
                    <div class="form-div">
                        <button class="btn m-b-2">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <footer id="footer">
        <ul class="flex s-center w-80 font-awesome ">
            <a href="https://linkedin.com/in/faisal-ahmed-6b30a8264" target="_blank">
                <li><i class="fa-brands fa-linkedin-in"></i></li>
            </a>
            <a href="https://github.com/FaisalAhmed21" target="_blank">
                <li><i class="fa-brands fa-github"></i></li>
            </a>
                <a href="https://www.instagram.com/blissful_being21/" target="_blank">
                    <li><i class="fa-brands fa-instagram"></i></li>
            </a>
            
        </ul>
    </footer>

</body>
</html>
